@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Shade&family=Lobster&family=Merriweather:wght@300&family=Pacifico&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css');
.title {
    font-family: Bungee Shade;
    font-size: 5em;
    text-align: center;
    color: gold;
    background-color: magenta;
    border-radius: 20px;
}

.full-screen {
    width: 100%;
}

#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

img,
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid red;
    border-radius: 20px;
    padding: 10px;
}

body {
    background-color: yellow;
    text-align: center;
}

button {
    background-color: cyan;
    font-family: Pacifico;
    font-size: 24px;
    color: black;
    border-radius: 10px;
}

.strong {
    color: magenta;
    background-color: cyan;
}

p {
    font-family: Merriweather;
    font-size: 24px;
    text-align: justify;
    color: black;
    text-indent: 25px;
}

a {
    font-size: 24px;
    font-family: Merriweather;
    color: blue;
    background-color: orange;
    transition: 1s;
}

a:hover {
    color: orange;
    background-color: blue;
    transition: 1s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Black Ops One;
    color: blue;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

#contact iframe {
    width: 100%;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: magenta;
}